.shadow {
    position: absolute;
    top: 0;
    left: 0;

    height: 100%;
    width: 100%;

    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

.wrapper {
    height: 100vh;
    width: auto;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box {

    margin: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;

    background-color: #ffc0e0;

    border: 2px solid #836cee;
    border-radius: 10px;
}

.title {
    width: auto;
    text-align: center;
}

.info {
    position: relative;
    padding: 10px;
}