.Box {
    margin-bottom: 20px;
    padding: 20px;
    width: 700px;
    background-color: #b5a6fd;
    box-shadow: 2px 2px 5px #301e498c;
    border-radius: 10px;
}

@media (max-width: 900px) {
    .Box {
        width: 90vw;
    }
}
