.label_ {
    display: block;
}

.input_ {
    display: block;
    margin-bottom: 20px;
    padding: 5px 10px;
    width: 100%;
    font-size: 1.5em;

    background-color: #f4eaf5;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
}

.input_:focus-visible {
    border: 1px solid #ec8cff;
}